.container-fluid.bw-hero {
    min-height: 30vh;
    background-image: url("https://images.pexels.com/photos/2233348/pexels-photo-2233348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 ");
    background-position: bottom;
    background-size: cover;
}
.container-h h2 {
    margin: 20px 0 0 20px;
}


div.card.container-b.d-flex.align-items-end {
    background-color: #F0EEED;
    padding: 5px;
}


div.card.row.d-flex {
     margin: 0 0;
     padding: 0;
 }


button.column.d-flex.justify-content-end {
     display: flex;
     padding: 2px;
     margin: 0 0;
     border: 5px;
     width: 100px;
    background-color: #30A2FF;
 }