:root {
    --primary: #979797;
    --border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #979797;
}

a {
    text-decoration: unset;
    color: inherit;
}



.row {
    max-width: 1100px;
}

header.container {
    min-height: 80px;
    background-color: white;
    box-shadow: 3px -4px 15px -4px #000000;
    position: relative;
}


ul.d-flex {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-item {
    color: var(--primary);
    font-weight: 300;
    padding: 10px 15px;
    transition: all ease .2s;
    border-radius: var(--border-radius);
}
.menu-item:hover {
    background-color: var(--primary);
    color: white;
}

.btn-primary {
    padding: 10px 25px;
    border: unset;
    background-color: var(--primary);
    color: white;
    border-radius: var(--border-radius);

}

section.container.hero {
    padding: 150px 200px;


    background-color: #e1e3e8;
}

.square {
    padding: 50px 50px;
    border: 50px;
    height: 400px;
    width: 100%;
    aspect-ratio: 4/3;
    color: grey;
    background-color: grey;
}

.column-shrink h1 {
    padding: 20px 0;
    font-size: 50px;
    font-weight: 300;
    color: #454545;
    width: 600px;
}

.column-shrink sub {
    padding: 20px 0;
}